<%- include('../Includes/header.ejs') %>

<title><%=title_home%></title>
<link   rel="stylesheet" href="/Style.css">

</head>
<body>
    <%- include('../Includes/navigation.ejs') %>

<section class="home" id="home">
    <div class="homecontent">
        <h3>E-Shop</h3>
        <span>latest and trending items</span>
        <p>Here goes description consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco </p>
            <a href="/lgnFrm" class="sbtn">shop now</a>
    </div>
</section>
<section class="about" id="about">
    <h1 class="heading"> <span> About</span>us</h1>
    <div class="row">
    <div class="col">
    <div class="image-container">
        <img src="../tbg3.jpeg" alt="img" style="height: 80%; width:80%;">
       
    </div>
</div>
    <div class=" col">
        <h3> why choose us?</h3>
        <p>Here goes description consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco</p>
            <p>Lorem ipsum dolor sit amet . The graphic and typographic operators know this well, 
                in reality all the professions dealing with the universe of communication have a stable 
                relationship with these words, but what is it? Lorem ipsum is a dummy text without any sense.</p>

    </div>
</div>

</section>
<section>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../hmsp.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../hmsp2.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../hpsp3.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
<section>
    <div class="card mb-3">
        <img src="../hmsp.jpeg" class="card-img-top" alt="..." style="height: 350px;">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-warning" type="button">  <a href="/details" class="exbtn">Explore Now</a></button>
           
          </div>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

</section>
<section>
<div class="social-box">
    <div class="containericn">
     	<div class="row">
			 
			    <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Behance</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12  text-center">
					<div class="box">
					    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Twitter</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Facebook</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Pinterest</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
					    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Google</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Github</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>
            </section>
    

    <%- include('../Includes/footer.ejs') %>